# Introducción al machine learning

**API 1**

**Alumno**: Hector Vergara ([LinkedIn](https://www.linkedin.com/in/hector-vergara/))

In [20]:
import sys
!{sys.executable} -m uv pip compile docs/requirements.in --universal --output-file docs/requirements.txt
!{sys.executable} -m sync docs/requirements.txt

# This file was autogenerated by uv via the following command:
#    uv pip compile docs/requirements.in --universal --output-file docs/requirements.txt
appnope==0.1.4 ; platform_system == 'Darwin'
    # via ipykernel
asttokens==2.4.1
    # via stack-data
cffi==1.17.1 ; implementation_name == 'pypy'
    # via pyzmq
colorama==0.4.6 ; sys_platform == 'win32'
    # via ipython
comm==0.2.2
    # via ipykernel
debugpy==1.8.7
    # via ipykernel
decorator==5.1.1
    # via ipython
et-xmlfile==2.0.0
    # via openpyxl
executing==2.1.0
    # via stack-data
ipykernel==6.29.5
    # via -r docs/requirements.in
ipython==8.29.0
    # via ipykernel
jedi==0.19.1
    # via ipython
jupyter-client==8.6.3
    # via ipykernel
jupyter-core==5.7.2
    # via
    #   ipykernel
    #   jupyter-client
matplotlib-inline==0.1.7
    # via
    #   ipykernel
    #   ipython
nest-asyncio==1.6.0
    # via ipykernel
numpy==2.1.2
    # via
    #   -r docs/requirements.in
    #   pandas
openpyxl==3.1.5
    # via -r docs/requirements.in
packaging==24.1
    # via ipykernel
pandas==2.2.3
    # via -r docs/requirements.in
parso==0.8.4
    # via jedi
pexpect==4.9.0 ; sys_platform != 'emscripten' and sys_platform != 'win32'
    # via ipython
pip==24.3
    # via -r docs/requirements.in
platformdirs==4.3.6
    # via jupyter-core
prompt-toolkit==3.0.48
    # via ipython
psutil==6.1.0
    # via ipykernel
ptyprocess==0.7.0 ; sys_platform != 'emscripten' and sys_platform != 'win32'
    # via pexpect
pure-eval==0.2.3
    # via stack-data
pycparser==2.22 ; implementation_name == 'pypy'
    # via cffi
pygments==2.18.0
    # via ipython
python-dateutil==2.9.0.post0
    # via
    #   jupyter-client
    #   pandas
pytz==2024.2
    # via pandas
pywin32==308 ; platform_python_implementation != 'PyPy' and sys_platform == 'win32'
    # via jupyter-core
pyzmq==26.2.0
    # via
    #   ipykernel
    #   jupyter-client
six==1.16.0
    # via
    #   asttokens
    #   python-dateutil
stack-data==0.6.3
    # via ipython
tornado==6.4.1
    # via
    #   ipykernel
    #   jupyter-client
traitlets==5.14.3
    # via
    #   comm
    #   ipykernel
    #   ipython
    #   jupyter-client
    #   jupyter-core
    #   matplotlib-inline
tzdata==2024.2
    # via pandas
uv==0.4.27
    # via -r docs/requirements.in
wcwidth==0.2.13
    # via prompt-toolkit

Resolved 41 packages in 23ms
c:\Users\vinyl\Documents\proyectos\teclab\teclab_intro_ml_api1\.venv\Scripts\python.exe: No module named sync

In [18]:
import os
import numpy as np
import pandas as pd
from pathlib import Path

__version__ = '0.0.1'
__email__ = 'hhvservice@gmail.com'
__author__ = 'Hector Vergara'
__annotations__ = 'https://www.linkedin.com/in/hector-vergara/'
__base_dir__ = Path().absolute()
__data_dir__ = os.path.join(__base_dir__, 'data')
filename_data = os.path.join(__data_dir__, 'Titanic_M1.xlsx')

## Consignas

Para realizar los futuros modelos de datos, el primer desafío será preprocesar la base de datos, según las siguientes instrucciones:

a) Describir brevemente la cantidad de valores faltantes para cada una de las variables de la base de datos.

In [21]:
df = pd.read_excel(filename_data)
df.isna().sum()

pclass         76
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

b) En la columna Pclass, completar los valores NA, asignando a las personas a la clase 2.

In [22]:
df.fillna(value={'pclass': 2}, inplace=True)
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

c) En la clase “Sex”, imputar los datos de manera de poder completar la base solo con los valores “male” y “female”.

In [25]:
df['sex'].unique()

array(['female', 'male', 'Hombre', 'Mujer'], dtype=object)

In [26]:
df.replace({'Hombre': 'male', 'Mujer': 'female'}, inplace=True)
df['sex'].unique()

array(['female', 'male'], dtype=object)

d) En los casos de las personas de las cuales no se tenga la edad, rellenar los datos con el promedio de edad de aquellos que sí tienen el dato.

In [27]:
df.fillna(value={'age': df['age'].mean()}, inplace=True)
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

In [30]:
df["age"].unique()

array([29.        ,  0.9167    ,  2.        , 30.        , 25.        ,
       48.        , 63.        , 39.        , 53.        , 71.        ,
       47.        , 18.        , 24.        , 26.        , 80.        ,
       30.02627551, 50.        , 32.        , 36.        , 37.        ,
       42.        , 19.        , 35.        , 28.        , 45.        ,
       40.        , 58.        , 22.        , 41.        , 44.        ,
       59.        , 60.        , 33.        , 17.        , 11.        ,
       14.        , 49.        , 76.        , 46.        , 27.        ,
       64.        , 55.        , 70.        , 38.        , 51.        ,
       31.        ,  4.        , 54.        , 23.        , 43.        ,
       52.        , 16.        , 32.5       , 21.        , 15.        ,
       65.        , 28.5       , 45.5       , 56.        , 13.        ,
       61.        , 34.        ,  6.        , 57.        , 62.        ,
       67.        ,  1.        , 12.        , 20.        ,  0.8333    ,
        8.        ,  0.6667    ,  7.        ,  3.        , 36.5       ,
       18.5       ,  5.        , 66.        ,  9.        ,  0.75      ,
       70.5       , 22.5       ,  0.3333    ,  0.1667    , 40.5       ,
       10.        , 23.5       , 34.5       , 20.5       , 30.5       ,
       55.5       , 38.5       , 14.5       , 24.5       ])

e) En la columna embarked, asignar el valor “S” a aquellos datos que se encuentran con valor vacío.

In [28]:
df.fillna(value={'embarked': "S"}, inplace=True)
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        0
boat          751
body         1110
home.dest     475
dtype: int64