# Introducci√≥n al machine learning

**API 1**

**Alumno**: Hector Vergara ([LinkedIn](https://www.linkedin.com/in/hector-vergara/))

**Repositorio**: [GitHub](https://github.com/hhvergara/teclab_intro_ml)

In [92]:
import os
import numpy as np
import pandas as pd
from pathlib import Path

__version__ = '0.0.1'
__email__ = 'hhvservice@gmail.com'
__author__ = 'Hector Vergara'
__annotations__ = 'https://www.linkedin.com/in/hector-vergara/'
__base_dir__ = Path().absolute()
__data_dir__ = os.path.join(__base_dir__, 'data')
filename_data = os.path.join(__data_dir__, 'Titanic_M1.xlsx')
printing = lambda text: print(f"{'\033[92m'}{text}{'\033[0m'}")

## Consignas

Para realizar los futuros modelos de datos, el primer desaf√≠o ser√° preprocesar la base de datos, seg√∫n las siguientes instrucciones:

a) Describir brevemente la cantidad de valores faltantes para cada una de las variables de la base de datos.

In [93]:
df = pd.read_excel(filename_data)
df.isna().sum()

pclass         76
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

b) En la columna Pclass, completar los valores NA, asignando a las personas a la clase 2.

In [94]:
df.fillna(value={'pclass': 2}, inplace=True)
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age           239
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

c) En la clase ‚ÄúSex‚Äù, imputar los datos de manera de poder completar la base solo con los valores ‚Äúmale‚Äù y ‚Äúfemale‚Äù.

In [95]:
df['sex'].unique()

array(['female', 'male', 'Hombre', 'Mujer'], dtype=object)

In [96]:
df.replace({'Hombre': 'male', 'Mujer': 'female'}, inplace=True)
df['sex'].unique()

array(['female', 'male'], dtype=object)

d) En los casos de las personas de las cuales no se tenga la edad, rellenar los datos con el promedio de edad de aquellos que s√≠ tienen el dato.

In [97]:
printing(f"üí° Promedio de edad: {round(df['age'].mean(), 3)}") 
df['age'] = df['age'].replace(np.nan, df['age'].mean())
df.isna().sum()

Promedio de edad: 30.026

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        2
boat          751
body         1110
home.dest     475
dtype: int64

In [98]:
df["age"].unique()

array([29.        ,  0.9167    ,  2.        , 30.        , 25.        ,
       48.        , 63.        , 39.        , 53.        , 71.        ,
       47.        , 18.        , 24.        , 26.        , 80.        ,
       30.02627551, 50.        , 32.        , 36.        , 37.        ,
       42.        , 19.        , 35.        , 28.        , 45.        ,
       40.        , 58.        , 22.        , 41.        , 44.        ,
       59.        , 60.        , 33.        , 17.        , 11.        ,
       14.        , 49.        , 76.        , 46.        , 27.        ,
       64.        , 55.        , 70.        , 38.        , 51.        ,
       31.        ,  4.        , 54.        , 23.        , 43.        ,
       52.        , 16.        , 32.5       , 21.        , 15.        ,
       65.        , 28.5       , 45.5       , 56.        , 13.        ,
       61.        , 34.        ,  6.        , 57.        , 62.        ,
       67.        ,  1.        , 12.        , 20.        ,  0.8333    ,
        8.        ,  0.6667    ,  7.        ,  3.        , 36.5       ,
       18.5       ,  5.        , 66.        ,  9.        ,  0.75      ,
       70.5       , 22.5       ,  0.3333    ,  0.1667    , 40.5       ,
       10.        , 23.5       , 34.5       , 20.5       , 30.5       ,
       55.5       , 38.5       , 14.5       , 24.5       ])

e) En la columna embarked, asignar el valor ‚ÄúS‚Äù a aquellos datos que se encuentran con valor vac√≠o.

In [99]:
df.fillna(value={'embarked': "S"}, inplace=True)
df.isna().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin         927
embarked        0
boat          751
body         1110
home.dest     475
dtype: int64